<?xml version="1.0" encoding="utf-8" ?>
<Root>
  <SPColumnName>
    <PrimaryKey Value="HPTrimID" />
    <ColumnName Value="RColumn" />
  </SPColumnName>
  <JobInfo>
    <ScanItemJob Value="true" />
  </JobInfo>
  <AccountInfo>
    <SiteUrl Value ="https://acsdev365.sharepoint.com/sites/hshan/testSite"/>
    <ListUrl Value="SystemUpdateTest" />
    <UserName Value ="hshan@acsdev365.onmicrosoft.com"/>
    <PassWord Value ="Shan2562749"/>
  </AccountInfo>
  <DatabaseInfo>
    <ServerName Value ="10.2.122.58"/>
    <DatabaseName Value="testData"/>
    <IntegratedWindows Value="false" />
    <UserName Value="sa"/>
    <PassWord Value="1qaz2wsxE"/>
  </DatabaseInfo>
</Root>
